-#  This file is app/views/movies/index.html.haml
%h2 All Movies

= form_tag movies_path, :method => :get, :id => "ratings_form" do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", true, @ratings.include?(rating)
  = submit_tag 'Refresh', :id => "ratings_submit"

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      %th{class: @klass_title}= link_to 'Movie Title', root_path({:sortOrder => 'title'}), :id => "title_header"
      %th Rating
      %th{class: @klass_release_date}= link_to 'Release Date', root_path({:sortOrder => 'release_date'}), :id => "release_date_header", :class => "hilite"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
