-#  This file is app/views/movies/index.html.haml
%h2 All Movies

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      %th{class: @klass_title}= link_to 'Movie Title', root_path({:sortOrder => 'title'}), :id => "title_header"
      %th Rating
      %th{class: @klass_release_date}= link_to 'Release Date', root_path({:sortOrder => 'release_date'}), :id => "release_date_header", :class => "hilite"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
